</br>
<div id="bootcamp-{{bootcamps.id}}">
<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">{{bootcamps.name}}</h5>
    <div class="text-muted">
    {{bootcamps.type}}
  </div>
    <p class="card-text">{{bootcamps.description}}</p>
    <button type="button" value="{{bootcamps.id}}" class="delete-btn btn btn-danger">
     Delete
</button>
  </div>
</div>
</div>


